# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.DS_Store
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
MANIFEST

# Virtualenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Databases
*.sqlite3
*.sqlite
*.db
*.db-journal # SQLite journal file
yt_dlp_app.db # Имя нашей БД
yt_dlp_app.db-* # Другие временные файлы SQLite

# IDEs and editors
.idea/
.vscode/
*.project
*.pydevproject
*.sublime-workspace
*.swp
*.swo

# Test & Coverage Reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/

# Custom
/downloads/ # Папка для загруженных файлов
